.container{
  width: 800px;
  border-radius: 20px;
  margin: 0 auto;
}
h2{
  text-align: center;
  color:#fff;
}
h3{
  text-align: center;
}
  .a1,
  .a2,
  .a3,
  .a4,
  .a5,
  .a6,
  .a7,
  .a8,
  .a9{
    background: #fff;
    border-radius: 20px;
    padding: 0.5%;
     margin: 0.5%;
  }
  p{
    text-align: justify;
  }
@media only screen and (min-width:800px){
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    border-radius: 20px;
    margin:0 auto;
  }
.a1{width:58%}
.a2{width:38%}
.a3{width:31.3%}
.a4{width:31.3%}
.a5{width:31.3%}
.a6{width:48%}
.a7{width:48%}
.a8{width:48%}
.a9{width:48%}
}

  @media only screen and (min-width:600px) and (max-width:799){
    .container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 800px;
      border-radius: 20px;
      margin:0 auto;
    }
  .a1{width:98%}
  .a2{width:48%}
  .a3{width:48%}
  .a4{width:48%}
  .a5{width:48%}
  .a6{width:98%}
  .a7{width:33.3%}
  .a8{width:33.3%}
  .a9{width:33.3%}
}

@media only screen and (min-width:320px) and (max-width:599px){
      .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 800px;
        border-radius: 20px;
        margin:0 auto;
      }
    .a1{width:98%}
    .a2{width:98%}
    .a3{width:98%}
    .a4{width:98%}
    .a5{width:98%}
    .a6{width:98%}
    .a7{width:98%}
    .a8{width:98%}
    .a9{width:98%}
    *{
      font-size: 25px;
    }

}
